* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  font-size: 100%;
}

body {
  background: #1d2d3c;
}

/* Layout */
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* header */
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2em;
  background-color: #06131f;
}
.container header img {
  display: block;
  height: 40px;
}
.container header select {
  width: 10em;
  height: 40px;
  padding: 6px;
}

/* main */
main {
  height: calc(100vh - 80px - 80px);
  overflow-y: auto;
}
/* cards */
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 6);
  margin: 30px;
  padding: 20px;
  border-radius: 6px;
  background: #112030;
  color: white;
  text-align: center;
}
.card img {
  height: 60%;
  width: 80%;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}
.card .content strong,
.card .content small {
  display: block;
  margin: 10px 0;
}

/* Footer */
footer {
  background-color: #06131f;
  height: 80px;
}
